.glass-button {
  
     padding: 24px 32px;
     border: 0;
     text-decoration: none;
     border-radius: 15px;
     background-color: rgba(28, 68, 72, 0.1);
     border: 2px solid rgba(18, 91, 247, 0.1);
     backdrop-filter: blur(20px);
     color: rgba(51, 50, 50, 0.8);
     font-size: 14px;
     letter-spacing: 2px;
     cursor: pointer;
     text-transform: uppercase;
     

}
.glass-toolbar{
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.glass-button:hover {
     background-color: rgba(170, 82, 82, 0.2);
}
